<div class="container">
      <h1>Corona information by country</h1>
      <br/>
  {{!-- מיטודה סוג השליחה ואקשן לאן לשגר את הטופס --}}
  <form class="d-flex" method="GET" action="/corona/country">
    <input name="q" type="text" class="form-control w-50">
    <button class="btn btn-primary">Search</button>
  </form>
</div>
</div>